HTTP_ADDR=127.0.0.1:8812

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=user_service
POSTGRES_USER=user_service_user
POSTGRES_PASSWORD=change-me
POSTGRES_SSLMODE=disable

JWT_SECRET=change-me
JWT_ISSUER=auth-service
JWT_AUDIENCE=internal
INTERNAL_TOKEN=change-me-internal-token
